// Colors

$Soft-blue: hsl(215, 51%, 70%);
$Cyan: hsl(178, 100%, 50%);
$Very-dark-blue-1: hsl(217, 54%, 11%);
$Very-dark-blue-2: hsl(216, 50%, 16%);
$Very-dark-blue-3: hsl(215, 32%, 27%);
$White: hsl(0, 0%, 100%);

// Fonts

@font-face{
    src: url("../font/Outfit-Light.ttf");
    font-family: "Out1";
    font-weight: 300;
}
@font-face{
    src: url("../font/Outfit-Regular.ttf");
    font-family: "Out2";
    font-weight: 400;
}
@font-face{
    src: url("../font/Outfit-SemiBold.ttf");
    font-family: "Out3";
    font-weight: 600;
}

// Styles

*{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $Very-dark-blue-1;
    
    .card{
        width: 100%;
        max-width: 340px;
        height: 600px;
        border-radius: 20px;
        background-color: $Very-dark-blue-2;
        
        .img{
            width: 300px;
            height: 300px;
            border-radius: 15px;
            margin: 20px;
            background: url("../images/image-equilibrium.jpg");

            .capa{
                width: 300px;
                height: 300px;
                border-radius: 15px;

                figure{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 300px;
                    height: 300px;
                    opacity: 0;
                }
                figure:hover{
                    opacity: 1;
                }
            }

            .capa:hover{
                background: linear-gradient(130deg, #00a6c0, #00a6c0);
                opacity: 0.6;
                cursor: pointer;
            } 
        }   
        
        .name{
            font-family: "Out2";
            color: $White;
            font-size: 23px;
            padding-left: 20px;
        }
        .name:hover{
            color: $Cyan;
            cursor: pointer;
        }

        .description{
            font-family: "Out1";
            color: $Soft-blue;
            font-size: 18px;
            padding-left: 20px;
            padding-top: 15px;
        }

        .content{
            width: 295px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin: 0px auto;
            padding-top: 20px;

            .moneda{
                font-family: "Out3";
                color: $Cyan;
                img{
                    vertical-align: middle;
                    margin-right: 8px;
                }
            }

            .time{
                font-family: "Out3";
                color: $Soft-blue;
                img{
                    margin-right: 8px;
                    vertical-align: middle;
                }
            }
        }

        hr{
            width: 300px;
            height: 1px;
            margin: 0px auto;
            margin: 25px auto 25px auto;
            background-color: $Very-dark-blue-3
        }

        .content-2{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            width: 265px;

            img{
                width: 40px;
                border: 2px solid white;
                border-radius: 999px;
            }

            p{
                font-family: "Out1";
                color: $Soft-blue;
                padding-top: 12px;
                
                span{
                    color: $White;
                }
                span:hover{
                    color: $Cyan;
                    cursor: pointer;
                }
            }
        }
    }

    .attribution {
        font-family: "Out1";
        color: $Soft-blue;
        font-size: 18px;
        text-align: center;
        padding-top: 50px;
        
        a {
            font-family: "Out2";
            color: $Cyan;
        }
    }
}







